In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [2]:
home_path = Path.home() / "Downloads"

In [3]:
data = pd.read_csv(home_path / "Data.csv")

In [4]:
data.drop(columns=['Country/Series-specific Notes', 'Estimates Start After'], inplace=True)

In [5]:
data.head()

,Country,Subject Descriptor,Units,Scale,2017,2018,2019,2020,2021,2022,2023,2024
0,Afghanistan,"Gross domestic product, constant prices",National currency,Billions,506.215,517.858,533.394,552.063,574.127,599.933,629.88,664.452
1,Afghanistan,"Inflation, average consumer prices",Index,NaN,110.998,111.693,113.815,117.799,123.099,129.254,135.717,142.503
2,Afghanistan,Unemployment rate,Percent of total labor force,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,"Gross domestic product, constant prices",National currency,Billions,789.653,822.522,852.66,885.573,919.717,956.167,994.155,"1,033.83"
4,Albania,"Inflation, average consumer prices",Index,NaN,103.295,105.39,107.498,110.077,113.16,116.554,120.051,123.653

In [6]:
#Ensuring the values are the same for all columns to get rid of them
print(f"\n{data['Scale'].value_counts()}")

print(f"\n{data['Units'].value_counts()}")

Billions    194
Name: Scale, dtype: int64

Index                           194
Percent of total labor force    194
National currency               194
Name: Units, dtype: int64

In [7]:
#id_vars are the variables we don't want to melt
#Unless explicitly stated, all the other variables in the dataframe will be melted,
# so they should all be of the same "type" (normally columns by year)
#Var_name provides the name of the newly formed column
#Value_name provides the name of the second column with the actual values
melted_data = pd.melt(data, id_vars=['Country', 'Subject Descriptor', 'Units', 'Scale'],
                       var_name="Year", value_name="Value")

In [8]:
melted_data.head()

,Country,Subject Descriptor,Units,Scale,Year,Value
0,Afghanistan,"Gross domestic product, constant prices",National currency,Billions,2017,506.215
1,Afghanistan,"Inflation, average consumer prices",Index,NaN,2017,110.998
2,Afghanistan,Unemployment rate,Percent of total labor force,NaN,2017,NaN
3,Albania,"Gross domestic product, constant prices",National currency,Billions,2017,789.653
4,Albania,"Inflation, average consumer prices",Index,NaN,2017,103.295

In [9]:
#Now that we've "melted" our year columns into one column, we can now pivot to something else.
#To break out the different measures shown for each country, we use pd.pivot_table
# This is a more generalizable version of pd.pivot, allowing us to use multiple indexes.
# We also set the aggregation function to first since we don't want mean values in the case of multiple
# values but simply to use the 'first' value found.
df = pd.DataFrame(pd.pivot_table(melted_data, index=['Country','Year'], columns='Subject Descriptor',
              values='Value', aggfunc='first'))

In [10]:
df.reset_index(inplace=True)

In [11]:
#Adding Back in Units and Scale Columns by simply adding to column names
df.columns = ['Country', 'Year','GDP (constant prices, national currency, Billions)',
              'INFLATION (average consumer prices, Index, NaN)', 
              'UNEMPLOYMENT RATE (percent of total work force, NaN)']

In [12]:
df.head(30)

,Country,Year,"GDP (constant prices, national currency, Billions)","INFLATION (average consumer prices, Index, NaN)","UNEMPLOYMENT RATE (percent of total work force, NaN)"
0,Afghanistan,2017,506.215,110.998,NaN
1,Afghanistan,2018,517.858,111.693,NaN
2,Afghanistan,2019,533.394,113.815,NaN
3,Afghanistan,2020,552.063,117.799,NaN
4,Afghanistan,2021,574.127,123.099,NaN
5,Afghanistan,2022,599.933,129.254,NaN
6,Afghanistan,2023,629.88,135.717,NaN
7,Afghanistan,2024,664.452,142.503,NaN
8,Albania,2017,789.653,103.295,13.756
9,Albania,2018,822.522,105.39,12.2
10,Albania,2019,852.66,107.498,13.719
11,Albania,2020,885.573,110.077,13.225
12,Albania,2021,919.717,113.16,13.048
13,Albania,2022,956.167,116.554,13.331
14,Albania,2023,994.155,120.051,13.201
15,Albania,2024,"1,033.83",123.653,13.193
16,Algeria,2017,"7,371.95",193.97,11.709
17,Algeria,2018,"7,523.77",202.253,11.731
18,Algeria,2019,"7,698.00",213.579,12.575
19,Algeria,2020,"7,834.77",227.888,13.677
20,Algeria,2021,"7,942.04",247.715,14.957
21,Algeria,2022,"8,028.24",272.982,16.384
22,Algeria,2023,"8,059.26",306.285,18.12
23,Algeria,2024,"8,094.12",349.165,19.847
24,Angola,2017,"1,586.58",251.795,NaN
25,Angola,2018,"1,559.62",301.218,NaN
26,Angola,2019,"1,566.54",353.821,NaN
27,Angola,2020,"1,611.68",393.158,NaN
28,Angola,2021,"1,647.44",424.214,NaN
29,Angola,2022,"1,696.23",451.585,NaN

In [13]:
df.to_csv("Clean_Data.csv", index=False)